@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

                                                                                                                                           /* =EAA5ATbPrZApYBQSWjaXXJgqZCLaMaSUY6Xb5hsDqJIA6Cp0vlKrd6o4TLmUGfCQf55TlyMR0UbjHQfR2lGr1X7ZCUnymMMSZBL7K4YaWjvwx24jZBsCVyLRqawI5lhZBKGcdiIjmm7g6yOPh3dUdyNu4WRH2GZBqoF3iq1XsLzSCf80gYHoP5ePy8MVSHMhKOG8dRrqgPMCfRFZCsgeGHgbulGIbFcJbuBzDnM0vk5IQOZBEZD*/
/* oauth/access_token?grant_type=fb_exchange_token&client_id=4011352149157526&client_secret=e0956fe1ceaba807af56f88210fb89ae&fb_exchange_token=EAA5ATbPrZApYBQZAoqyDQG9yvHXAFD4gdbS1h1SC18aQBVRMsVwoRlZCKdZAImO6r7cGZCaHcILtgKIwZBc7gJ7JfkqSuHr0LMsd4eECSRiZBmrqDf8r3yU0X3RLPStUCfL4Ntbv2MKNB0ZA3VmODzfGQaPUEMThMLhtBj29DkrOnlacgr0NMIh3ykLyY60EKX4exkzlQZBej72bfuKmZAjXkArhSFkopnrtxpiZCk6x9EYP6UZD */